.advantages {
	padding: 73px 0px 65px 0px;
	background: #f6f6f6;
	&__title {
		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}
	&__items {
		display: flex;
		column-gap: 65px;
	}
	&__item {
		flex: 0 1 33.333%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 25px;
	}
}

/* ==================================================================================================== */

.title {
	font-weight: 700;
	font-size: 30px;
	line-height: 100%;
	text-align: center;
	color: #0d0d0d;
	text-transform: uppercase;
}

/* ==================================================================================================== */

.item-advantages {
	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 161%;
		color: #0d0d0d;
		text-align: center;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 129%;
		color: #0d0d0d;
		text-align: center;
		flex: 1 1 auto;
		a {
			text-decoration-line: underline;
			color: #ff0000;
			text-transform: uppercase;
			&:hover {
				font-weight: 500;
			}
		}
	}
}

/* ==================================================================================================== */

.consultation {
	padding: 100px 0px;
	background: url(../img/image/bg2.jpg) center center/cover no-repeat;
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 150%;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 8px;
	}
	&__text {
		max-width: 426px;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		color: #ffffff;
		&:not(:last-child) {
			margin-bottom: 36px;
		}
	}
}

.form-consultation {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	row-gap: 13px;
	&__item {
		padding: 15px 0px 15px 20px;
		font-weight: 400;
		font-size: 14px;
		color: #4b4b4b;
		border-radius: 5px;
		&:nth-child(3) {
			margin-bottom: 5px;
		}
	}
}

/* ==================================================================================================== */

.slider {
	padding-top: 110px;
	padding-bottom: 120px;
	&__body {
		max-width: 750px;
		margin: 0 auto;
	}
}

.body-slider {
	position: relative;
	&__item img {
		max-width: 100%;
	}
}

.slick-prev,
.slick-next {
	position: absolute;
	top: 50%;
	left: -66px;
	transform: translateY(-50%);
	border: none;
	background-color: #fff;
	:hover {
		cursor: pointer;
		scale: (1.1);
	}
	img {
		height: 50px;
		width: 31px;
	}
}

.slick-next {
	right: -66px;
	left: auto;
}

/* ==================================================================================================== */

.catalog {
	padding-bottom: 65px;
	&__tabs {
		margin-top: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;
	}
	&__tab {
		width: 220px;
		height: 50px;
		background: rgba(0, 0, 0, 0.0001);
		border: 2px solid #d0d0d0;
		text-align: center;
		text-transform: uppercase;
		transform: skewX(-25deg);
		transition: 0.3s all ease 0s;
		cursor: pointer;
		font-weight: 400;
		font-size: 18px;
		line-height: 266.666667%; /* 48/18 */
		color: #6b6b6b;
		&:hover {
			box-shadow: 3px 3px 20px $maincolor;
			border: none;
			scale: (1.1);
			margin: 0 15px;
		}
		&_active {
			background-color: $maincolor;
			color: #ffffff;
		}
	}
	&__items {
		margin-top: 57px;
		display: none;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 15px;
		&_active {
			display: flex;
		}
	}
	&__item {
		max-width: 303px;
	}
}

.tab-cat__link {
	transform: skewX(25deg);
}

.item-catalog {
	display: flex;
	justify-content: center;
	align-items: center;
	row-gap: 15px;
	flex-direction: column;
	padding: 20px;
	background: #ffffff;
	border: 2px solid #e8e8e8;
	&__wrapper {
		position: relative;
		overflow: hidden;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
		transform: translateX(-100%);
		transition: 0.3s all ease 0s;
		&_active {
			transform: translateX(0%);
		}
	}
	&__back {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(calc(-50% - 19px));
		display: block;
		font-weight: 500;
		font-size: 14px;
		line-height: 100%;
		text-decoration: underline;
		text-transform: uppercase;
		color: $maincolor;
		&:hover {
			scale: (1.1);
		}
	}
	&__list {
		position: absolute;
		top: 0;
		right: -70px;
		transform: translateX(-100%);
		transition: 0.3s all ease 0s;
		li {
			font-weight: 400;
			font-size: 14px;
			line-height: 150%; /* 21/14 */
			color: #555555;
			margin-bottom: 20px;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: 5px;
				height: 5px;
				background-color: $maincolor;
				left: -14px;
				top: 7px;
			}
		}
		&_active {
			right: -14px;
			width: 100%;
			transform: translateX(0%);
		}
	}

	&__image {
		img {
			max-width: 100%;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 156.25%; /* 25/16 */
		text-align: center;
		color: #0d0d0d;
	}
	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 157.142857%; /* 22/14 */
		text-align: center;
		color: #0d0d0d;
	}
	&__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 100%;
		text-align: center;
		text-decoration-line: underline;
		color: $maincolor;
		&:hover {
			scale: (1.1);
		}
	}
	&__slash {
		width: 263px;
		height: 2px;
		background: #e8e8e8;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 25px;
	}
}

.prices-footer {
	display: flex;
	flex-direction: column;
	gap: 2px;
	&__old {
		font-weight: 300;
		font-size: 14px;
		line-height: 100%;
		text-decoration-line: line-through;
		color: #555555;
	}
	&__new {
		font-weight: 700;
		font-size: 20px;
		line-height: 100%;
		color: #050505;
	}
}

/* ==================================================================================================== */

.reviews {
	padding-bottom: 50px;
	&__items {
		margin-top: 60px;
	}

	&__item {
		display: flex;
		gap: 60px;
		align-items: flex-start;
		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}
}

.item-reviews {
	&__image {
		flex: 0 1 169px;
		img {
			max-width: 100%;
		}
	}

	&__body {
		flex: 0 1 680px;
	}

	&__author {
		margin-bottom: 10px;
	}

	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 150%; /* 24/16 */
		color: #0d0d0d;
		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}
.author-item {
	&__name {
		font-weight: 700;
		font-size: 18px;
		line-height: 100%;
		color: #0d0d0d;
	}

	&__achievement {
		font-weight: 500;
		font-size: 14px;
		line-height: 157.142857%; /* 22/14 */
		color: #646464;
	}
}

/* ==================================================================================================== */

.footer {
	position: relative;
	&__info {
		padding: 50px 55px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		width: 460px;
		height: 270px;
		background-color: $maincolor;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 36px;
	}
	&__contacts {
		font-weight: 400;
		font-size: 20px;
		line-height: 100%;
		color: #ffffff;
	}

	&__phone {
		display: block;
		font-weight: 700;
		font-size: 20px;
		line-height: 100%;
		text-align: center;
		color: #ffffff;
		&:hover {
			text-decoration: underline;
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
	}

	&__social-item {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid #fff;
		border-radius: 50%;
		width: 52px;
		height: 52px;
		&:not(:last-child){
			margin-right: 27px;
		}
		&:hover {
			scale: (1.2);
		}
	}
}
