@media (max-width: 991.98px) {
	.catalog {
		&__tabs {
			margin-top: 40px;
		}
		&__items {
			justify-content: center;
			margin-top: 40px;
		}
		&__item {
			max-width: 280px;
		}
	}

	.prices-footer {
		&__new {
			font-size: 15px;
		}
	}
}

@media (max-width: 767.98px) {
	.advantages {
		padding: 50px 0px;
		&__items {
			row-gap: 20px;
		}
	}
	.consultation {
		padding: 50px 0px;
		&__title {
			font-size: 26px;
		}
		&__text {
			font-size: 16px;
		}
		&__button {
			width: 100%;
		}
	}

	.slider {
		padding: 50px 0px;
	}

	.catalog {
		padding-bottom: 50px;
		&__tab {
			width: 190px;
			height: 40px;
			line-height: 200%;
		}
	}

	.reviews {
		&__items {
			margin-top: 40px;
		}
		&__item {
			flex-direction: column;
			gap: 40px;
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}

	.item-reviews {
		&__body {
			flex: 0 1 auto;
		}
		&__image {
			align-self: center;
		}
		&__text {
			text-align: center;
		}
	}

	.author-item {
		&__name {
			text-align: center;
		}
		&__achievement {
			text-align: center;
		}
	}

	.footer {
		&__info {
			padding: 30px 25px;
			width: 400px;
			height: 200px;
			gap: 22px;
		}
	}
}

@media (max-width: 669.98px) {
	.header {
		margin-bottom: 50px;
		&__logo {
			width: 45px;
			overflow: hidden;
			flex: 0 0 45px;
		}
	}

	.promo {
		padding: 20px 0px 40px 0px;
		background: url(../img/image/main-bg.jpg) 25% / cover no-repeat;
		&__title {
			font-size: 32px;
		}
		&__subtitle {
			font-size: 18px;
			margin-bottom: 45px;
		}
		&__items {
			width: 360px;
		}
		&__link {
			font-size: 12px;
		}
	}

	.advantages {
		padding: 40px 0px;
		&__title {
			font-size: 26px;
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
		&__items {
			flex-direction: column;
			row-gap: 20px;
		}
		&__item {
			row-gap: 15px;
		}
	}

	.consultation {
		padding: 40px 0px;
		&__title {
			font-size: 22px;
		}
		&__text {
			font-size: 14px;
		}
	}

	.slider {
		padding: 40px 0px;
	}

	.catalog {
		padding-bottom: 40px;
		&__title {
			font-size: 22px;
		}
	}

	.footer {
		
		&__info {
			padding: 20px;
			width: 300px;
			height: 150px;
			gap: 15px;
		}
		&__contacts {
			font-size: 14px;
		}
		&__phone {
			font-size: 16px;
		}
		&__social-item {
			width: 42px;
			height: 42px;
			&:not(:last-child){
				margin-right: 17px;
			}
		}
	}
}

@media (max-width: 476.98px) {
	.header__official {
		display: none;
	}

	.promo {
		background: url(../img/image/main-bg.jpg) no-repeat;
		&__title {
			font-size: 26px;
		}
		&__subtitle {
			font-size: 16px;
			margin-bottom: 40px;
		}
		&__items {
			width: 300px;
		}
	}
}
